@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #e4e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 7%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 30%;
    min-width: 40rem;
    border-radius: 1rem;
    padding: 1rem;
}

form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

#input_text {
    width: 20rem;
    /* height: 3rem; */
    font-size: large;
    padding: 1rem;
    border: none;
    outline: none;
    width: 60%;
}

form button {
    font-size: medium;
    font-weight: 600;
    background-color: #b267e4;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem;
    transition: background-color .1s ease;
}

form button:active {
    background-color: #c486ee;
}

.icon img {
    width: 10rem;
    height: 10rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.temp {
    font-size: 4.5rem;
    font-weight: 600;
}

.description {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

/* @media(min-width: 380px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
} */